body {
    background-color:#99ccff;
}

#footer {
   position: fixed;
   width: 100%;
   bottom: 0;
   text-align: center;
}
#movieDisplay {
    text-align: center;
}


#nav-bar {
    background-color: #383807;
}